[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
jupyter = "*"
torch = {file = "https://download.pytorch.org/whl/cpu/torch-1.0.1-cp37-cp37m-win_amd64.whl"}
torchvision = "*"
scikit-learn = "*"
matplotlib = "*"
opencv-python = "*"
optuna = "*"

[requires]
python_version = "3.7"
